<div class="container">
  <section>
    <div class="row">
      <div class="col-md-12">
          <h1>Create Game</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Enter your username here" ng-model="username">
        </div>
        <button type="button" ng-click="createGame()" class="btn btn-lg btn-primary" style="background-color:#76AB8C; border-color:#76AB8C;">
          Start Game
        </button>
      </div>
    </div>
  </section>
</div>


