<header id="header" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <a href="#/">
          <img alt="logo" src="img/logo.png" class="logo" />
          <img alt="logo" src="img/logo-text.png" class="logo-text" />
        </a>
      </div>
      <div class="col-md-4">
        <ul class="list-inline pull-right">
          <li>
            <a href="#/users/signup">
              Sign Up
            </a>
          </li>
          <li>
            <a href="#">
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <section>
      <div class="row">
        <div class="col-md-12 headings">
          <h1>
            Dashboard
          </h1>
        </div>
      </div>
    </section>
  </div>
</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <iframe src="https://ghbtns.com/github-btn.html?user=barry-napier&type=follow&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <div class="copyright pull-right">
          <p>Copyright (c) 2016 Barry Napier</p>
        </div>
      </div>
    </div>
  </div>
</footer>