<header id="header" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <a href="#/">
          <img alt="logo" src="img/logo.png" class="logo" />
          <img alt="logo" src="img/logo-text.png" class="logo-text" />
        </a>
      </div>
      <div class="col-md-4">
        <ul class="list-inline pull-right">
          <li>
            <a ng-href="#/dashboard">
              Account
            </a>
          </li>
          <li>
            <a ng-href="#/dashboard">
              Dashboard
            </a>
          </li>
          <li>
            <a href="/" ng-click="dashboard.logoutUser()">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section>
          <div class="row">
            <div class="col-md-10">
              <h4 style="font-size:20px; font-weight: 900;">
                Dashboard
              </h4>
            </div>
            <div class="col-md-2">
              <a type="button" ng-href="#/games/create" class="btn btn-lg btn-primary  pull-right" style="background-color:#76AB8C; border-color:#76AB8C;">
                Create Game
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr/>
            </div>
          </div>
          <div class="row" ng-repeat="game in dashboard.games" ng-if="dashboard.games.length">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-8">
                  <h3 style="margin-top: 0; margin-bottom: 0; color:#5E809E; font-weight: 900;">{{game.name}}</h3>
                </div>
                <div class="col-md-4">
                  <button type="button" ng-click="dashboard.loadGame(game._id)" class="btn btn-primary  pull-right" style="background-color:#795E9E; border-color:#795E9E;">
                    Load Game
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <span style="color:#999;">{{game.description}}</span>
                </div>
                <div class="col-md-4">
                  <button type="button" ng-click="user.createUser()" class="btn btn-primary  pull-right" style="background-color: #5E809E;border-color: #5E809E;margin-top: 10px; width:100px;">
                    Edit
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <span>Stories : {{game.stories.length}}</span>
                </div>
                <div class="col-md-4">
                  <button type="button" ng-click="user.deleteGame()" class="btn btn-primary  pull-right" style="background-color: #CC325A;border-color: #CC325A;margin-top: 10px; width:100px;">
                    Delete
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <hr style="border-top: 1px solid #eee;"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row" ng-if="!dashboard.games.length">
            <div class="col-md-12">
              You currently have no games created. Please add a game by clicking "Create Game" above.
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright text-center">
          <p>Copyright (c) 2016 Scrum-Poker</p>
        </div>
      </div>
    </div>
  </div>
</footer>