<header id="header" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <a href="#/">
          <img alt="logo" src="img/logo.png" class="logo" />
          <img alt="logo" src="img/logo-text.png" class="logo-text" />
        </a>
      </div>
      <div class="col-md-4">
        <ul class="list-inline pull-right">
          <li>
            <a ng-href="#/dashboard">
              Dashboard
            </a>
          </li>
          <li>
            <a href="/" ng-click="logoutUser()">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section>
          <div class="row">
            <div class="col-md-10">
              <h1 style="margin: 0;">
                Dashboard
              </h1>
            </div>
            <div class="col-md-2">
              <a type="button" ng-href="#/games/create" class="btn btn-lg btn-primary  pull-right" style="background-color:#CC325A; border-color:#CC325A;">
                Create Game
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr/>
            </div>
          </div>
          <div class="row" ng-repeat="game in games" ng-if="games.length">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-7">
                  <h4 style="margin-top: 0; margin-bottom: 0; color:#4C4F5D; font-weight: 900;">{{game.name}}</h4>
                </div>
                <div class="col-md-5">
                  <button type="button" ng-click="loadGame(game._id)" class="btn btn-primary pull-right" style="background-color: #5E809E; border-color: #5E809E;">
                    <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                    Play Game
                  </button>
                  <button ng-click="inviteTeam(game._id, game.stories, game.name)" class="btn btn-primary pull-right" style="background-color: #76AB8C;border-color: #76AB8C; margin-right: 10px;">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    Invite Team
                  </button>
                  <small class="pull-right" style="color: #8e8e8e; margin-top:10px; margin-right: 10px;">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    {{game.duration}} Minutes
                  </small>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div ng-repeat="story in game.stories">
                    <a target="_blank" href="{{story.link}}">{{story.name}}</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <a href="#/dashboard" ng-click="deleteGame(game._id)" class="pull-right" style="margin-top: 10px;">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Delete
                  </a>
                  <a ng-href="#/games/{{game._id}}/edit" class="pull-right" style="margin-top: 10px; margin-right:10px;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Edit
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <hr style="border-top: 1px solid #eee;"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row" ng-if="!games.length">
            <div class="col-md-12">
              You currently have no games created. Please add a game by clicking "Create Game" above.
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright text-center">
          <p>Copyright (c) 2016 Scrum-Poker</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Invite Team Modal -->
<div class="modal fade" id="inviteTeamModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Invite Team
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Copy and paste link and share to add players:</label>
          <input type="text" id="game-id" class="form-control" placeholder="Player Name" ng-model="URL">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-lg btn-primary" style="background-color:#76AB8C; border-color:#76AB8C;">
          Done
        </button>

        <a href="{{mailto}}" class="btn btn-lg btn-primary" style="background-color:#CC325A; border-color:#CC325A;">Email Team</a>

      </div>
    </div>
  </div>
</div>
