<header id="header" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <a href="#/">
          <img alt="logo" src="img/logo.png" class="logo" />
          <img alt="logo" src="img/logo-text.png" class="logo-text" />
        </a>
      </div>
      <div class="col-md-4">
        <ul class="list-inline pull-right">
          <li>
            <a ng-href="#/users/{{games.userId}}/dashboard">
              Dashboard
            </a>
          </li>
          <li>
            <a href="/" ng-click="game.logoutUser()">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12 headings">
        <h1 style="font-weight: 900;">
          Game
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <section>
          <div class="row">
            <div class="col-md-12">
              <h4 style="font-size:30px; font-weight: 900;">
                Create Game
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Game Name</label>
                <input type="text" class="form-control" placeholder="Design Studio - 16.1 " ng-model="games.gameData.name"/>
              </div>
              <div class="form-group">
                <label>Game Description</label>
                <textarea class="form-control" rows="4" cols="50" placeholder="This game includes the stories for the Design Studio 16.1 release." ng-model="games.gameData.description"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Stories</label>
              <hr/>
            </div>
          </div>
          <div class="row" ng-repeat="games.stories">
            <div class="col-md-6">
              <strong>CCDS-2700</strong>
              -
              <span>Keyboard Shortcuts</span>
              <hr style="border-top: 1px solid #eee;"/>
            </div>
          </div>
          <button type="button" ng-click="games.createGame()" class="btn btn-lg btn-primary" style="background-color:#76AB8C; border-color:#76AB8C; margin-bottom:40px;">
            Create Game
          </button>
        </section>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <iframe src="https://ghbtns.com/github-btn.html?user=barry-napier&type=follow&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <div class="copyright pull-right">
          <p>Copyright (c) 2016 Barry Napier</p>
        </div>
      </div>
    </div>
  </div>
</footer>