<header id="header" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <a href="#/">
          <img alt="logo" src="img/logo.png" class="logo" />
          <img alt="logo" src="img/logo-text.png" class="logo-text" />
        </a>
      </div>
      <div class="col-md-4">
        <ul class="list-inline pull-right">
          <li>
            <a ng-href="#/dashboard">
              Dashboard
            </a>
          </li>
          <li>
            <a href="/" ng-click="logoutUser()">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12" ng-if="error">
        <div class="alert alert-danger" style="margin-top: 10px; margin-bottom: 0;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ error }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <section>
          <div class="row">
            <div class="col-md-12">
              <h4 style="font-size:20px; font-weight: 900;">
                {{action}} Game
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>Game Name</label>
                <input type="text" class="form-control" ng-model="game.name"/>
              </div>
              <div class="form-group">
                <label>Game Duration (Minutes)</label>
                <select class="form-control" ng-model="game.duration">
                  <option value="">---Please select---</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option>30</option>
                  <option>45</option>
                  <option>60</option>
                  <option>90</option>
                  <option>120</option>
                </select>
                <br/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label>Stories</label>
              <button type="button" class="btn btn-primary pull-right" style="background-color: #5E809E;border-color: #5E809E;" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Add Story
              </button>
              <hr/>
            </div>
          </div>
          <div class="row" ng-repeat="story in game.stories" ng-if="game.stories">
            <div class="col-md-8">
              <a target="_blank" href="{{story.link}}">{{story.name}}</a>
              <a href="" ng-click="deleteStory($index)" class="pull-right">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                Delete
              </a>
              <hr style="border-top: 1px solid #eee;"/>
            </div>
          </div>
          <div class="row" ng-if="!game.stories">
            <div class="col-md-8">
              You currently have no stories created. Please add a story by clicking "Add Story" above.
            </div>
          </div>
          <br/>
          <button type="button" ng-click="createUpdateGame()" class="btn btn-lg btn-primary" style="background-color:#76AB8C; border-color:#76AB8C;">
            {{action}} Game
          </button>
        </section>
      </div>
    </div>
  </div>

</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright text-center">
          <p>Copyright (c) 2016 Scrum-Poker</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Add Story
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Story Name</label>
          <input type="text" class="form-control" ng-model="storyData.name"/>
        </div>
        <div class="form-group">
          <label>Story Link</label>
          <input type="text" class="form-control" ng-model="storyData.link"></textarea>
          <br/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="addStory()" class="btn btn-primary" style="background-color: #5E809E;border-color: #5E809E;">Add Story</button>
      </div>
    </div>
  </div>
</div>