<div class="main">

  <div class="overlay">
    <div class="row">
      <img alt="main-logo" src="../img/main-logo.png" class="main-logo">

      <a ng-href="#/login" class="pull-right">Login</a>
      <a ng-href="#/signup" class="pull-right">Sign Up</a>
    </div>
    <div class="container">
      <div class="row text-center">
        <img alt="cards-logo" src="../img/cards.png" class="cards">
      </div>
      <div class="row text-center">
        <h1 class="meet">Meet Scrum Poker</h1>
      </div>
      <div class="row text-center">
       <h3 class="tagline">A story estimation application for agile development teams</h3>
     </div>
    <div class="row text-center">
      <a ng-href="games/create" class="btn btn-xlg">Create a Game</a>
      </div>
    </div>

    <footer>
      <iframe src="https://ghbtns.com/github-btn.html?user=barry-napier&type=follow&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      <div class="copyright pull-right">
        <p>Copyright (c) 2016 Barry Napier</p>
      </div>
    </footer>
  </div>

</div>



