<header id="header" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <a href="#/">
          <img alt="logo" src="img/logo.png" class="logo" />
          <img alt="logo" src="img/logo-text.png" class="logo-text" />
        </a>
      </div>
      <div class="col-md-4">
        <ul class="list-inline pull-right" ng-if="isAdmin">
          <li>
            <a ng-href="#/dashboard">
              Dashboard
            </a>
          </li>
          <li>
            <a href="/" ng-click="logoutUser()">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<main style="padding-bottom:200px">
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-md-1 story-count">
          <strong>Story #{{game.currentStoryIndex+1}}/{{game.numOfStories}}</strong>
        </div>
        <div class="col-md-7 story-heading">
          <strong>
            <a target="_blank" href="{{game.stories[game.currentStory].link}}">{{game.stories[game.currentStory].name}}</a>
          </strong>
        </div>
        <div class="col-md-4 start-story text-right">
          <button class="btn btn-default blue" ng-click="flipCards()" ng-show="game.started && !game.stories[game.currentStory].flipped" ng-if="isAdmin">
            <i class="fa fa-gavel" aria-hidden="true"></i>
            Flip
          </button>
          <button class="btn btn-default blue" ng-click="replay()" ng-show="game.started && game.stories[game.currentStory].flipped" ng-if="isAdmin">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            Replay
          </button>
          <button class="btn btn-default blue" ng-show="game.started" ng-disabled="game.currentStoryIndex === 0" ng-click="previousStory();" ng-if="isAdmin">
            <i class="fa fa-backward" aria-hidden="true"></i>
          </button>
          <button class="btn btn-default blue" ng-show="game.started" ng-disabled="game.currentStoryIndex === game.numOfStories-1" ng-click="nextStory();" ng-if="isAdmin">
            <i class="fa fa-forward" aria-hidden="true"></i>
          </button>
          <button class="btn btn-default red" data-toggle="modal" data-target="#resultsModal">
            <i class="fa fa-eye" aria-hidden="true"></i>
            View Results
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="results-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Welcome {{playerName}}</h3>
          <br/><br/>
        </div>
        <div class="col-md-12 text-center" ng-hide="game.started">
          <img alt="banner" src="img/banner_bg.png" class="banner center-block" />
          <a class="btn btn-xlg" ng-click="startGame()" ng-show="isAdmin">Start Game</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12">
              <div class="unsubmitted-cards" ng-show="!game.stories[game.currentStory].flipped">
                <div ng-repeat="player in game.players">
                  <div ng-show="game.started && !game.stories[game.currentStory].votes[player.playerName]" style="background-color: transparent;border: 3px dotted #99ACBE;border-radius: 4px;height: 100px;width: 77px;padding-top: 29px;float: left;margin-right: 10px;margin-bottom: 20px;">
                  </div>
                </div>
              </div>
              <div class="submitted-cards" ng-show="!game.stories[game.currentStory].flipped">
                <div class="cards" ng-repeat="vote in game.stories[game.currentStory].votes">
                  <div class="card text-center">
                    <img alt="logo" src="img/card-logo.png" class="card-logo" />
                    <div class="name">{{vote.playerName}}</div>
                  </div>
                </div>
              </div>
              <div class="flipped-cards" ng-show="game.stories[game.currentStory].flipped">
                <div class="cards" ng-repeat="vote in game.stories[game.currentStory].votes">
                  <div class="card text-center">
                    <span class="vote">{{vote.name}}</span>
                    <div class="name">{{vote.playerName}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="position: absolute; top: 150px; right: 30px; margin-bottom: 220px;">
          <div class="timer" ng-show="game.started && !game.stories[game.currentStory].flipped" hidden>
            <div class="timer-heading">Timer</div>
            <div class="item html">
              <h2>0</h2>
              <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <title>Layer 1</title>
                  <circle r="69.85699" cy="81" cx="81" stroke-width="16" stroke="#EDEDED" fill="none" />
                  <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="4" stroke="#76AB8C" fill="none" />
                </g>
              </svg>
            </div>
          </div>
          <div class="users" ng-hide="game.stories[game.currentStory].flipped">
            <div class="user-heading">
              Players
            </div>
            <table>
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Voted</th>
                  <th ng-show="isAdmin">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="player in game.players">
                  <td>{{player.playerName}}</td>
                  <td>
                    <div ng-show="game.stories[game.currentStory].votes[player.playerName]">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div ng-show="!game.stories[game.currentStory].votes[player.playerName]">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td ng-if="isAdmin">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-sm">Nudge</button>
                      <button type="button" class="btn btn-sm" ng-click="kickPlayer(player)">Kick</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="results" ng-show="game.stories[game.currentStory].flipped">
            <div class="results-heading">
              Results
            </div>
            <br/>
            <div>
              The winner with <strong>{{game.stories[game.currentStory].chain[0].value}} votes</strong> is:
            </div>
            <div style="font-size: 60px; color: #76AB8C; font-weight: bolder; text-align: center">
              {{game.stories[game.currentStory].chain[0].key}}
            </div>
            <div>

            </div>
            <table>
              <thead>
                <tr>
                  <th>Value</th>
                  <th>Votes</th>
                </tr>
              </thead>
              <tbody>
              <tr ng-repeat="result in game.stories[game.currentStory].chain">
                <td>{{result.key}}</td>
                <td>{{result.value}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<div class="selection-section" ng-show="game.started">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Make your selection below:</h4>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <div class="card magictime" ng-class="{ disabled : game.stories[game.currentStory].votes[playerName], slideUp : game.stories[game.currentStory].votes[playerName].value === card.value }"
                                      ng-repeat="card in cardSelections track by $index"
                                      ng-click="game.stories[game.currentStory].votes[playerName] || vote($event, card)">
            <span>{{card.name}}</span>
          </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright text-center">
          <p>Copyright (c) 2016 Scrum-Poker</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Player Name selection Modal -->
<div class="modal fade" id="playerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Enter your Player Name
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Player Name</label>
          <input type="text" id="player-name" class="form-control" placeholder="Player Name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"  ng-click="addPlayer()" class="btn btn-lg btn-primary" style="background-color:#76AB8C; border-color:#76AB8C;">
          Add Player
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Game Results Modal -->
<div class="modal fade" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Game Results
        </h4>
      </div>
      <div class="modal-body">

        <div ng-repeat="story in game.stories">

          <span style="line-height: 40px;">{{story.name}}</span>
          <span class="pull-right" style="line-height: 40px;">{{story.finalResult}}</span>

        </div>
        <br/>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>