/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color: #F6F5F6;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
  background-color: #5E809E;
  color: #AEBFCE;
  font-weight: bold;
  height: 70px;
}

header img.logo {
  height: 50px;
  margin-top: 10px;
}

header img.logo-text {
  height: 35px;
  margin-left: 10px;
  margin-top: 15px;
}

header ul {
  margin-top: 25px;
  display: inline;
  list-style-type: none;
}

header ul li {}

header ul li a {
  color: #AEBFCE;
}

header ul li a:hover {
  color: #C8DCED;
  text-decoration: none;
}

main {}

main div.container section {
  background-color: #FFF;
  border: 1px solid #DCDCDC;
  color: #4C4F5D;
  min-height: 250px;
  margin-top:20px;
  margin-bottom:20px;
  padding:20px;
}

main div.sub-header {
  background-color: #FFF;
  border-bottom: 1px solid #DCDCDC;
  color: #4C4F5D;
  height: 61px;
}

main div.sub-header div.container {}

main div.sub-header div.container div.row {}

main div.sub-header div.container div.row div.story-heading {
  margin-top: 20px;
}

main div.sub-header div.container div.row div.start-story {
  margin-top: 12px;
}

main div.sub-header div.container div.row div.start-story button.start-pointing {
  background-color: #76AB8C;
  color: #FFF;
  float: right;
  ;
  margin-left: 20px;
}

main div.sub-header div.container div.row div.start-story button.show-votes {
  background-color: #CC325A;
  color: #FFF;
  float: right;
  margin-left: 20px;
}

main div.sub-header div.container div.row div.start-story button.invite-team {
  background-color: #5E809E;
  color: #FFF;
  float: right;
  margin-left: 20px;
}

main div.sub-header div.container div.row div.start-story button:hover {
  color: #C8DCED;
}

main div.results-section {
  margin-top: 20px;
  margin-bottom: 20px;
}

main div.results-section div.container {}

main div.results-section div.container div.row div.cards {}

main div.results-section div.container div.row div.cards div.card {
  background-color: #AEBFCE;
  border: 3px solid #99ACBE;
  border-radius: 4px;
  height: 130px;
  width: 100px;
  padding-top: 36px;
  padding-left: 18px;
  float: left;
  margin-right: 15px;
}

main div.results-section div.container div.row div.cards div.card img.card-logo {
  height: 37px;
  width: 67;
}

main div.results-section div.container div.row div.card-submissions {
  font-weight: bold;
  margin-bottom: 10px;
}

main div.results-section div.container div.row div.card-submissions div.card-submitter {
  color: #808080;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  width: 100px;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

main div.results-section div.container div.row div div.timer {
  background-color: #FFF;
  height: 210px;
  border: 1px solid #DCDCDC;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

main div.results-section div.container div.row div div.timer div.timer-heading {
  color: #7C8197;
  font-size: 16px;
  font-weight: bold;
}

main div.results-section div.container div.row div div.users {
  background-color: #FFF;
  border: 1px solid #DCDCDC;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

main div.results-section div.container div.row div div.users div.user-heading {
  color: #7C8197;
  font-size: 16px;
  font-weight: bold;
}

main div.results-section div.container div.row div div.users button {
  background-color: #5E809E;
  color: #FFF;
}

main div.results-section div.container div.row div div.users button:hover {
  background-color: #5E809E;
  color: #C8DCED;
}

main div.results-section div.container div.row div div.results {
  background-color: #FFF;
  height: 200px;
  border: 1px solid #DCDCDC;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

main div.results-section div.container div.row div div.results div.results-heading {
  color: #7C8197;
  font-size: 16px;
  font-weight: bold;
}

main div.selection-section {
  background-color: #FFF;
  border-top: 1px solid #DCDCDC;
  height: 215px;
  padding-top: 20px;
}

main div.selection-section div.container div.row {
  margin-bottom: 10px;
}

main div.selection-section div.container div.row div h4 {
  color: #7C8197;
  font-size: 16px;
  font-weight: bold;
}

main div.selection-section div.container div.row div div.card {
  background-color: #FFF;
  border: 3px solid #99ACBE;
  border-radius: 4px;
  height: 100px;
  width: 77px;
  padding-top: 29px;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}

main div.selection-section div.container div.row div div.card span {
  color: #4C4F5D;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  width: 70px;
  float: left;
}

main .ng-main {
  background-color: #5E809E;
  height:590px;
}

main .ng-main div.container div.row div.headings h1 {
  text-align: center;
  font-weight: bold;
  color:#FFF;
}

footer {
  background-color: #5E809E;
  bottom: 0px;
  height: 70px;
  color: #AEBFCE;
  font-weight: bold;
  font-size: 12px;
  padding-top: 30px;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

table {
  border-collapse: collapse;
  width: 242px;
  font-size: 12px;
  margin: 10px 0;
}

table,
th,
td {
  border: 1px solid #DBDBDB;
}

table thead tr th {
  background-color: #F6F5F6;
  padding: 5px;
  text-align: center;
}

table tbody tr td {
  background-color: #FFF;
  padding: 2px 5px;
  text-align: center;
}

table tbody tr td i.fa-check {
  color: #76AB8C;
  text-align: center;
}

table tbody tr td i.fa-times {
  color: #CC325A;
}

.item {
  position: relative;
  float: left;
  padding-left: 40px
}

.item h2 {
  text-align: center;
  position: absolute;
  line-height: 115px;
  width: 80%;
}

svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 440;
  /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 440;
  transition: all 1s linear;
}


/*
 * Hide visually and from screen readers:
 */

.hidden {
  display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
